<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Exersice3.Properties.Settings.JS_SteakConnectionString"
            connectionString="Data Source=LAPTOP-POGI16I0\CINDYNUR;Initial Catalog=JS_Steak;User ID=sa;Password=Nurhabibah345"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>